.header-container{
	// max-width: 1180px;
	padding: 52px $Section-padding 66px $Section-padding;
}
.main-container{
	padding: 37px $Section-padding 83px $Section-padding;	
}

@media (max-width: 1199px) {
	.header-container{
		padding: 52px $Section-padding_1199px 66px $Section-padding_1199px;
	}
	.main-container{
	padding: 37px $Section-padding_1199px 83px $Section-padding_1199px;	
}
}

@media (max-width: 991px) {
	.header-container{
		padding: 52px $Section-padding_991px 66px $Section-padding_991px;
	}
	.main-container{
		padding: 37px $Section-padding_991px 83px $Section-padding_991px;	
	}
	
}

@media (max-width: 767px) {
	.header-container{
		padding: 32px $Section-padding_767px 46px $Section-padding_767px;
	}
	.main-container{
		padding: 37px $Section-padding_767px 83px $Section-padding_767px;	
	}
}

@media (max-width: 555px) {
	.header-container{
		padding: 32px $Section-padding_767px 46px $Section-padding_767px;
	}
	.main-container{
		padding: 37px $Section-padding_555px 83px $Section-padding_555px;	
	}
}

