* {
	box-sizing: border-box;
}

body, html{
	padding: 0;
	margin: 0;
}

body{
	.scrollTop-button{
		position: fixed;
		bottom: 10%;
		right: $Section-padding;	

		width: 59px;
		height: 59px;
		background: $turquoise url(../img/main-section/scroll-arrow_white.svg) center center no-repeat;
		opacity: 0.9;
		z-index: 100;
		cursor: pointer;

		&:hover{
		background: $turquoise url(../img/main-section/scroll-arrow_white.svg) center center no-repeat;
			
		}


	}
}

@media (max-width: 1199px)
{
	body{
		.scrollTop-button{
			right: $Section-padding_1199px;
		}
	}
}

@media (max-width: 991px)
{
	body{
		.scrollTop-button{
			right: $Section-padding_991px;
		}
	}

}

@media (max-width: 767px)
{
	body{
		.scrollTop-button{
			right: $Section-padding_767px;
		}
	}
}

@media (max-width: 555px)
{
	body{
		.scrollTop-button{
			right: $Section-padding_555px;
		}
	}
}