.main-section{

	.sort-row{
		.span{ 
			display: inline-block;
			@include headerText();
			font-weight: 700;
			color: #000;
		}
		.sort__type{
			@include headerText();

			display: inline-block;
			color: #000;
			text-decoration: none;

			position: relative;
			margin-left: 55px;
			&:last-child{ margin-left: 83px; }

			&:after{
				content: '';
				width: 15px	;
				height: 15px;
				background: transparent url(../img/main-section/sort-arrow.svg) center center no-repeat;

				position: absolute;
				top: 50%;
				right: -30px;
				transform: translate(0, -50%);

			}
		}
	}

	.sort-row_position{
		margin-bottom: 38px;
	}

	.cats-shop{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;

		.cat-block{
			position: relative;
			flex-basis: 32%;

			.like-btn{
				position: absolute;
				top: 5%;
				right: 5%;
				padding: 0;

				width: 46px;
				height: 46px;
				background: transparent url(../img//main-section/like.svg) center no-repeat;
				background-size: contain;
				border: none;
				opacity: 0.5;
			}
			.like-btn_clicked{
				opacity: 1;
			}
			&__image{

				margin: 0; padding: 0; border: none;
				width: 100%;
				height: 50%;
				.cat__image{
					width: 100%;
					height: 100%;
					object-fit: fill;
				}
			}
			&__description {
				background-color: #f3f3f3;
				padding: 29px;
				.cat__name{
					@include boldText();
					margin: 0;
				}
				.cat-row{ 
					width: 100%; 
					display: flex; 
					align-items: center;
					justify-content: space-around;

					position: relative;
					margin: 21px 0px;

					&:before {
						content: "";
						height: 26px;
						width: 4px;
						background-color: $turquoise;

						position: absolute;
						left: 0; top: 0;
					}
				}
				.cat__span{
					@include smallText();
						display: inline-block;
					strong
					{ 
						font-size: 16px;
						line-height: 19.5px;;		
						font-weight: 700;
					}
				}
				.cat__cost{
					@include boldText();
				}

			}
			.cats-shop__button{
				width: 100%;
				height: 65px;
				text-align: center;
				cursor: pointer;

				border: none;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
			}
		}

		.cat-block_position{
			margin-bottom: 27px;
		}
		.cat-block_sale{
			&:after{
				content: "-40%";
				@include headerText();
				text-align: center;
				width: 78px;
				height: 39px;
				background-color: $redColor;
				border-radius: 10px;

				position: absolute;
				top: 5%;
				left: 10%;
				margin: auto 0;

				display: flex;
				align-items: center;
				justify-content: center;

			}

		}

	}
	.showMore-button-wrap{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.showMore-button{
		flex-basis: 32%;
		text-align: center;
		justify-self: center;
		border: 1px solid #CACACA;
		border-radius: 10px;
		height: 65px;
		cursor: pointer;

		@include regular();
		font-size: 14px;
		line-height: 65px;
	}
	.showMore-button_position{
		margin-top: 48px;
	}
}

@media (max-width: 1199px){
	.main-section{
		.cat-block .cat-block__description{
			padding: 15px;
		}
	}
}

@media (max-width: 991px){
	.main-section{

		.cats-shop .cat-block{ 
			flex-basis: 48%;
		}
	}
}

@media (max-width: 767px){
	.main-section{
		.cats-shop .cat-block__description .cat-row:before{
			left: -5px;
		}
	}
}

@media (max-width: 555px){
	.main-section{
		.sort-row{
			.span { display: block; margin-bottom: 20px; }
			.sort__cost{ margin: 0; }

		}
		.cats-shop .cat-block{
			.like-btn{ 
				width: 35px;
				height: 35px; 
				top: 3%; right: 5%;	
			}
			.cat-block__description{
				.cat__name{ font-size: 20px; }
				.cat__cost{ font-size: 20px; }
				.cat-row{
					margin: 11px 0;
					span{
					margin-left: 10px;
					margin-bottom: 10px;
					}
					flex-direction: column;	
					align-items: start;

					&:before{ height: 28px * 4;}
				}
			}
			.cats-shop__button{ height: 50px; }
		}
		.cats-shop .cat-block_sale:after{
			width: 60px;
			height: 30px;
			font-size: 14px;
			top: 3%; left: 5%;

		}

		.showMore-button{
			flex-basis: 50%;
		}
	}
}

