@charset "UTF-8";
.header-container {
  padding: 52px 130px 66px 130px;
}

.main-container {
  padding: 37px 130px 83px 130px;
}

@media (max-width: 1199px) {
  .header-container {
    padding: 52px 100px 66px 100px;
  }
}
@media (max-width: 991px) {
  .header-container {
    padding: 52px 50px 66px 50px;
  }
}
@media (max-width: 767px) {
  .header-container {
    padding: 32px 30px 46px 30px;
  }
}
body, html {
  padding: 0;
  margin: 0;
}

.header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.7))), url(../img/header/background.png) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../img/header/background.png) no-repeat;
  background-size: cover;
  background-position: 31% 0;
  /* Выезжающее меню */
}
.header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-block_position {
  position: relative;
  margin-bottom: 50px;
}
.header__logo {
  display: inline-block;
}
.header__logo img {
  width: 78px;
  height: 78px;
}
.header__nav {
  width: 43%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav .header__link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}
.header__nav .header__link:hover {
  text-decoration: underline;
}
.header__nav .header__link_position {
  margin-right: 50px;
}
.header__nav_position {
  margin-left: 120px;
}
.header__contacts {
  text-align: right;
}
.header__contacts .ourPhone {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #000;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  text-decoration: none;
}
.header__contacts .ourPhone:hover {
  text-decoration: underline;
}
.header__contacts .callSoon {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
}
.header__contacts_position {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.header .foundCats {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 38px;
  line-height: 46.32px;
}
.header-menu {
  display: none;
}

@media (max-width: 1199px) {
  .header {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.7))), url(../img/header/background.png) no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(../img/header/background.png) no-repeat;
    background-position: 30% 0;
    background-size: cover;
  }
  .header__nav_position {
    margin-left: 12%;
  }
  .header__nav .header__link_position {
    margin-right: 11%;
  }
}
@media (max-width: 991px) {
  .header .foundCats {
    font-size: 25px;
  }
  .header .ourPhone {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .header__nav {
    width: 100%;
  }
  .header__contacts_position {
    top: 200%;
  }
}
@media (max-width: 555px) {
  .header #bigWindow-navbar {
    display: none;
  }
  .header #smallWindow-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header #smallWindow-navbar {
    display: block;
  }
  .header-block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .foundCats {
    display: none;
  }
  .header__contacts_position {
    top: 150%;
  }
  .header .burger-menu {
    width: 30px;
    height: 30px;
  }
  .header .burger-menu:hover {
    cursor: pointer;
  }
  .header .burger-menu span {
    width: 25px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .header .burger-menu span:first-child {
    -webkit-transform: translate(-50%, -10px);
            transform: translate(-50%, -10px);
  }
  .header .burger-menu span:last-child {
    -webkit-transform: translate(-50%, 10px);
            transform: translate(-50%, 10px);
  }
  .header .burger-menu_position {
    position: relative;
    z-index: 101;
    top: 0;
    right: 0;
  }
  .header .burger-menu_active span {
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header .burger-menu_active span:nth-child(2) {
    display: none;
  }
  .header .burger-menu_active span:first-child {
    -webkit-transform: translate(-50%, 0px) rotate(45deg);
            transform: translate(-50%, 0px) rotate(45deg);
  }
  .header .burger-menu_active span:last-child {
    -webkit-transform: translate(-50%, 0px) rotate(-45deg);
            transform: translate(-50%, 0px) rotate(-45deg);
  }
  .header-menu {
    width: 100vw;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.95);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
    -webkit-transition: 0.9s;
    transition: 0.9s;
  }
  .header-menu .header__link {
    text-align: center;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    padding: 7% 0;
    padding-top: 7%;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    -webkit-transition: 0.9s;
    transition: 0.9s;
  }
  .header-menu .header__link:hover {
    background-color: #6EBBD3;
  }
  .header-menu_position {
    position: absolute;
    top: -30px;
    left: -30px;
    z-index: 100;
    padding-top: 100px;
  }
  .header-menu_active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.main-section .sort-row .span {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #000;
}
.main-section .sort-row .sort__type {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  color: #000;
  text-decoration: none;
  position: relative;
  margin-left: 55px;
}
.main-section .sort-row .sort__type:last-child {
  margin-left: 83px;
}
.main-section .sort-row .sort__type:after {
  content: '';
  width: 15px;
  height: 15px;
  background: transparent url(../img/main-section/sort-arrow.svg) center center no-repeat;
  position: absolute;
  top: 50%;
  right: -30px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.main-section .sort-row_position {
  margin-bottom: 38px;
}
.main-section .cats-shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-section .cats-shop .turquoiseButton {
  background-color: #6EBBD3;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17.07px;
}
.main-section .cats-shop .cat-block {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}
.main-section .cats-shop .cat-block__image {
  width: 100%;
  height: 50%;
}
.main-section .cats-shop .cat-block__image .cat__image {
  width: 100%;
  height: 50%;
}
.main-section .cats-shop .cat-block__description {
  background-color: #f3f3f3;
  padding: 29px;
}
.main-section .cats-shop .cat-block__description .cat__name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #000;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}
.main-section .cats-shop .cat-block__description .cat-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 21px 0px;
}
.main-section .cats-shop .cat-block__description .streak__img {
  display: inline-block;
  width: 4px;
  height: 26px;
  background-color: #6EBBD3;
}
.main-section .cats-shop .cat-block__description .cat__span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 12px;
  line-height: 14.63px;
  display: inline-block;
}
.main-section .cats-shop .cat-block__description .cat__span strong {
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 700;
}
.main-section .cats-shop .cat-block__description .cat__cost {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #000;
  font-size: 24px;
  line-height: 29px;
}
.main-section .cats-shop .cat-block .cats-shop__button {
  width: 100%;
  height: 65px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.main-section .cats-shop .cat-block_position {
  margin-bottom: 27px;
}

/*# sourceMappingURL=style.css.map */